body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #4b2e83;
  color: white;
  padding: 20px;
  text-align: center;
}


nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #ddd;
  padding: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

section {
  padding: 20px;
  margin: 10px;
  background-color: white;
}

img {
  max-width: 100%;
  margin-top: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #222;
  color: white;
}

/* Media Query */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  input,
  textarea {
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
  }

}